*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* Star Global css */
.display-flex{
    display: flex;
}
.padding-top{
    padding-top: 100px;
}
.heading-title {
    width: 50%;
    margin: 0px auto;
    line-height: 40px;
}
.dark-yellow-color{
    color: #fc713d;
    margin-right: 1%;
}/* End Global css */

.brand-logo{
width: 40%;
padding-left: 3%;
padding-right: 3%;
}
/* Star slider section css */

.half-width{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    
}
.half-width img{
width: 95%;
}
.half-width h1{
    font-size: 50px;
    color: rgb(58, 58, 58);
}
.half-width p {
    color: rgb(58, 58, 58);
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 34px;
}
.half-width a{
    text-decoration: none;
    font-size: 16px;
    padding: 7px 20px 7px 20px;
    font-style: normal;
}
.order-button{
background-image: linear-gradient(#fb934a,#fe482e);
color: #ffffff;
border-radius: 20px;
}/* End slider section css */

/* Star about section css */
.about-section{
    
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
.image-width img {
    width: 53%;
    height: 100%;
   padding-left: 100px;
}
.about-design{
    padding-top: 100px;
}
.about-design h2{
font-size: 30px;
color: #4e423e;
}
.contact-button{
    background-image: linear-gradient(#fd4427,#faa629);
    color: #ffffff;
    border-radius: 20px;
    }/* End about section css */

/* Star blog section css */
.bolg-section{
    text-align: center;
    background-color: #f6f8fa;
    margin-top: -4px;
}4
.bolg-section h2{
        font-size: 30px;
        color: #4e423e;
}
.bolg{

 margin-top: 40px;
}
.blog-content {
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 7px;
    box-shadow: 5px 10px 5px #d8d5d5;
    background-color: #ffffff;
}
.blog-content img{
width: 90%;
padding: 5%;
}
.blog-content h3 a{
text-decoration: none;
font-size: 19px;
}
.blog-content p {
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    padding: 5%;
}
.social-media{
    text-align: center;
    background-color: #f6f8fa;
    height: 200px;
    padding-bottom: 200px;
    
}
.social-media-flower{
    padding-top: 40px;
    background-color: #ffffff;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    box-shadow: 5px 10px 5px #d8d5d5;
}
.social-media-single{
    width: 30%;
}
footer{
    height: 200px;
    background-color: rgb(27, 22, 22);
    text-align: center;
    color: rgb(241, 239, 239);
}
footer h1{
    
    padding-top: 50px;
}